.maze-area{
  text-align: center;
}

.btn-default{
  font-size: large;
  padding: .7em;
  width: 10em;
  border-radius: 1em;
  cursor: pointer;
  border: .5em solid white;
  color: white;
  font-weight: 1000;
  background-color: black;
}

.btn-default:hover{
  background-color: rgb(45, 45, 45);
}


#maze-canvas{
  border: 5px solid rgb(67, 67, 67);
}